<footer class=" w-full mx-auto p-24 rounded-t-[200px] bg-outrageousorange-400">

<div class="grid sm:grid-cols-3 justify-center tracking-wide  items-center  text-center pb-16">
    {% for item in site.social %}
      <a class=" hover:text-fairpink-300 italic text-2xl font-serif underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
    {% endfor %}
  
 </div>
   
  <div class="pb-16">
 <div class="bg-cornflowerlilac-300  w-100 h-px"></div>
</div>

<div class="grid sm:grid-cols-3 justify-center tracking-wide  items-center  text-center">
  <a class=" hover:text-fairpink-300 no-underline" href="/privacy">Privacy</a>
  <a class=" hover:text-fairpink-300 no-underline" href="/imprint">Imprint</a>
  <div class="">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; 2025 terezaif
  </span>
</div>
 </div>
 



<div class="">
  <a id="btt"
    class="hidden rounded-full fixed bottom-0 right-0 mb-8 mr-8 bg-deepteal-950 no-underline px-6 py-1 shadow-md
    text-cornflowerlilac-300 hover:bg-white hover:text-gray-900"
    href="#top" title="Back to Top">UP</a>
</div>
<div class="fixed bottom-0 left-0 m-8">
  <a href="https://ecograder.com/report/oj0ARJZa4zczobd8yhtAAzY3" target="_blank" rel="noopener" title="This page emits an estimated 0.067g CO2 every time someone views it."
    class="block rounded-full bg-white text-purple-600 hover:bg-brightsun-300 hover:text-black shadow-md p-4">
    <img src="/img/noun-co2-3810679-134E4A.svg" width="30" height="30" class="block" alt="Carbon footprint icon">
  </a> 
</div>
<!-- "Follow" Tooltip template -->
<template id="followTip">
  {% for item in site.social %}
    <a href="{{ item.url }}"
      class="inline-block rounded-full  text-sm text-gray-100 bg-deepteal-950 shadow-md hover:bg-fairpink-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1"
      target="_blank" rel="noopener">{{ item.title }}</a>
  {% endfor %}
</template>

</footer>