<nav
  class="container mx-auto flex flex-col items-center justify-between w-full py-4 bg-white shadow sm:flex-row sm:px-6 sm:bg-transparent sm:shadow-none">
  <div
    class="flex flex-row flex-no-wrap items-center self-start justify-between w-full sm:w-auto sm:self-center lg:flex-none">
    <a href="/" class="no-underline"><img src="/img/noun-startup-tereza-coaching.svg" alt="girl power yay!"
        class="h-20 px-2"></a>
    <button id="menuBtn" class="block hamburger sm:hidden focus:outline-none" type="button" onclick="navToggle();" aria-label="Show Menu"><span
        class="hamburger__top-bun"></span><span class="hamburger__bottom-bun"></span></button>
  </div>
  <div id="menu"
    class="flex-col items-center self-end hidden w-full h-full py-1 pb-4 sm:w-auto sm:self-center sm:flex sm:flex-row sm:py-0 sm:pb-0">
    <a class="w-full py-2 text-lg font-bold text-center text-gray-800 no-underline hover:text-amber-600 sm:w-auto sm:px-4 sm:py-1"
      href="{% if isFront %}#solutions{% else %}{{ site.baseURL }}/#solutions{% endif %}">Unblock Your Value & Thrive</a>
      <a class="w-full py-2 text-lg font-bold text-center text-gray-800 no-underline hover:text-amber-600 sm:w-auto sm:pr-4 sm:py-1"
      href="{% if isFront %}#about{% else %}{{ site.baseURL }}/#about{% endif %}">Meet Tereza</a>
    <span id="follow"
      class="hidden text-lg font-bold text-gray-800 cursor-pointer sm:inline-block hover:text-amber-600 sm:w-auto sm:px-4 sm:py-1">Follow</span>
    {% for item in site.social %}
      <a href="{{ item.url }}"
        class="w-full py-2 text-lg font-bold text-center text-gray-800 no-underline hover:text-amber-600 sm:hidden"
        target="_blank" rel="noopener">{{ item.title }}</a>
    {% endfor %}
    <a class="w-auto px-6 py-1 my-2 text-lg text-center text-cornflowerlilac-200 no-underline bg-bilobaflower-950 border border-bilobaflower-950 rounded-full sm:text-left hover:border-cornflowerlilac-300 hover:text-bilobaflower-950 hover:bg-cornflowerlilac-300 hover:shadow-md sm:my-0 sm:ml-4"
      href="{% if isFront %}#ourfirstcall{% else %}{{ site.baseURL }}/#ourfirstcall{% endif %}">Book an exploration call</a>
  </div>
</nav>