<div class="container mx-auto grid justify-center h-full py-24 pb-24">
  <div class="grid grid-cols-2 self-center items-center  px-4  font-mono text-deepteal-950 ">
    <div class=" text-center  py-12 sm:px-8">
      <h1 class="tracking-wide font-black text-6xl mb-6 ">Grow your influence<span
          class=" font-bold tracking tracking-widest "> as a data expert</span></h1>
      <h2 class="font-sans font-semibold tracking-widest text-2xl">Stop <span class="bg-fairpink-200 p-1 italic">TRYING</span> to get your voice heard!</h1>
        
        <p class="font-semibold tracking-widest text-2xl"> Learn how to become the go-to person in your field.</p>
    </div>
    <div class="">
      <img src="/img/DSCF8136_small.webp" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="grid grid-rows-1 justify-center pb-24">
  <a class="px-10 py-2 text-gray-100 bg-deepteal-950 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="https://calendly.com/terezaif/tereza-coaching">Book your discovery call!</a>
</div>