<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-amber-600 text-2xl mb-6">Inclusive Data and Engineering<span
          class="text-gray-800 font-bold tracking tracking-widest"> Leadership Coaching</span></h1>
      <h2 class="font-bold tracking-widest text-4xl">Become an inclusive leader</h1>
        
        <p class="font-bold tracking-widest text-4xl">Inspire others and yourself!</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/shine-friends-sitting-by-the-window-and-talking-1.webp" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-amber-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="https://calendly.com/terezaif/tereza-coaching">Book a call</a>
</div>