{% for item in collections.sections %}
  {% if item.data.type === 'solutions' %}
    <div id="solutions" class="bg-cornflowerlilac-300">
      <div class="container  mx-auto justify-between   items-center justify-center justify-between px-4 sm:px-8 py-16 sm:py-24 pb-24 ">
        <div class="justify-center ">
          <div class="sm:text-xl font-serif font-medium tracking-wide text-center text-black-900 pb-16">{{ item.data.title }}</div>
          <div class="sm:text-2xl font-bold text-center text-eden-800 pb-16">
            {{ item.templateContent | safe }}
          </div>
          <div class="sm:text-xl font-serif font-medium tracking-wide text-center text-black pb-16">
            {{ item.data.afterText }}
            <span class="bg-brightsun-600/80 p-1 font-bold italic">{{ item.data.afterTextHightlight }}</span>
            {{ item.data.afterHightlight }}
            </div>
        </div>
        <div class="grid md:grid-cols-2   items-center justify-center text-center gap-8">
      
          {% for item in solutions %}
          
          <div class="grid justify-center">
              <img src="/img/solutions/{{ item.icon }}" alt="Illustration for one of the solutions" >
            </div>
            <div class="justify-center bg-bilobaflower-400  rounded-[100px]">
              <div class="self-center px-8 py-8 md:py-16 self-center" >
                <h3 class="leading-relaxed tracking-wide font-bold text-l sm:text-xl pb-8"><span class="font-bold bg-fairpink-200/50 p-1 font-serif italic">{{ item.title }}</span> {{ item.teaser }}</h3>
                <div class="leading-relaxed text-l sm:text-xl font-medium tracking-tight">
                  {{ item.content | markdown | safe }}
                </div>
              </div>
            
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="grid grid-rows-1 justify-center pb-24">
          <a class="px-10 py-2 text-lg text-cornflowerlilac-300 rounded-full shadow-md bg-deepteal-950 hover:bg-white hover:text-gray-900" href="#ourfirstcall">I need this!</a>
       </div>
    </div>
  {% endif %}
{% endfor %}