<div class="container mx-auto grid justify-center h-full py-24 pb-24">
  <div class="grid lg:grid-cols-2 self-center items-center font-mono text-deepteal-950 gap-8">
    <div class=" text-center px-8 pb-16  lg:pb-0">
      <h1 class="tracking-tighter font-black text-6xl md:text-8xl pb-16">Grow your influence<span
          class=" font-bold tracking tracking-tight "> as a data expert</span></h1>
      <h2 class="font-sans font-semibold tracking-wideest text-2xl">Stop <span class="bg-fairpink-200 p-1 italic">TRYING</span> to get your voice heard!</h1>
        
        <p class="font-semibold tracking-widest text-2xl "> Learn how to become the go-to person in your field.</p>
    </div>
    <div class="">
      <img src="/img/DSCF8136_small.webp" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="grid grid-rows-1 justify-center pb-24">
  <a class="px-10 py-2 text-gray-100 bg-deepteal-950 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="https://calendly.com/terezaif/tereza-coaching">Book your discovery call!</a>
</div>