<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body id="top" class=" w-full mx-auto  font-sans text-deepteal-950 bg-bilobaflower-400">
  <div class="min-h-screen">
  {{ content | safe }}
  </div>
  {% include "footer.njk" %}
  {% include "js.njk" %}
</body>
</html>