---
layout: base.njk
---
<style>
  h1, h2, h3, h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }
</style>
<header>
  {% include "navbar.njk" %}
</header>
<main id="{{ title }}" class=" ">
  <div class="self-center px-4 sm:px:0 pt-16">
    <h1 class="font-bold uppercase tracking-widest text-deepteal-950 text-2xl mb-4">{{ title }}</h1>
    <div class="font-light text-black text-lg">
      {{ content | safe }}
    </div>
  </div>
</main>